*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    margin-left: 150px;
    margin-right: 150px;
   
}

h1{
    text-align: center;
    background-color: #F6DB2B;
    height: 150px;
    margin: 0;
    padding: 0;
}
h2 {
    text-align: center;
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-timing-function: ease-in;
}
  
article{
    background-color: #F6DB2B;
    border-radius: 10px;
   
    
}

header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}

header img{
    height: 100%;
    width: 100%;
}




.tractorimg{
    opacity: 0;
    justify-content: center;
    border-radius: 0 0 10px 10px;
   
}

.imagefadeet{
    transition: opacity 700ms ease 1s;
}

.imagefadeto{
    transition: opacity 700ms ease 1.5s;
}

.imagefadetre{
    transition: opacity 700ms ease 2s;
}

.showImg{
    opacity: 1;
}

.infoBox {
    background-color:var(--yellow);
    color: black;
    /* max-width: 640px; */
    text-align: center;
  }

  #myFoldOutTrigger {
    background-color: var(--white);
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
    border: none;
    font-size: 20px;
  }
#myFoldOutTrigger:hover {
    color: #F6DB2B;
    animation-name: buttonHoverPulse;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;

    
    
}
#fadeIn{
    opacity: 1;
}

#myFoldOutText{
    opacity: 0;
}
  
footer{
    margin-top: 100px;
    background-color: #B8AFAF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation-name: footerfade;
    animation-duration: 1s;
    animation-timing-function: ease-in;
   
}
.animationBottom{
    animation-name: fadeInRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}



@media only screen and (max-width: 800px) {
    header {
      display: flex;
      flex-direction: column;
     
    }
  }



  /* keyframes */


  @keyframes fadeInRight {
    from{
        opacity: 0;
        transform: translate(300px);
    }
    to{
        opacity: 1;
    }
  }

  @keyframes buttonHoverPulse{
    0%{
        transform:scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    75%{
        transform: scale(1.1);
    }
    100%{
        transform:scale(1);
    }
  }

  @keyframes footerfade{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }

  }
  